.main{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 260px;
    width: 790px;
    background-color: #272727;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
    border-radius: 40px;
    padding: 20px;
    animation: opasity 1s ease-in;
}

.main2{
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 260px;
    width: 790px;
    background-color: transparent;
    padding: 20px;
    opacity: 1;
}

.sub{
    display: flex;
    flex-direction: column;
}


@keyframes opasity {
    0%{opacity: 0;}
    100%{opacity: 1;}
}



