html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    box-sizing: inherit;
    background-color: #252525;
    padding: 20px;
}

.root{
    display: flex;
}

.my{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.09em;
    font-weight: 300;
    position: absolute;
    left: 40px;
    bottom: 10px;
    color: #fff;
    opacity: 0.1;
    user-select: none;
    font-size: 14px;
    width: 80vh;
}

